<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="App/app.module.js"></script>
    <title>My App</title>
    <meta charset="utf-8"/>
</head>
<body>

<div ng-controller="myController">
    <input ng-model="myInput"/>

    <h1>Hello {{ myInput }}!</h1>
</div>
<div ng-controller="locationList">
    <ul>
        <li ng-repeat="item in data.locations">{{ item.name }} ({{item.address}})</li>
    </ul>
</div>

</body>
</html>